@use '../../variables' as *;


.navbarBox {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 17px $main-padding-page;
  display: flex;
  justify-content: space-between;
  background-color: $main-bg-color;
  color: $white;

  .navPart1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .ulList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    list-style: none;

    li {
      font-size: $s-size;
    }

  }
}